<h2 class="text-3xl font-bold mb-8 text-center text-gray-800 tracking-tight">Reservations List</h2>

<div class="overflow-x-auto rounded-lg border border-gray-200">

  <div class="w-9/10 max-w-6xl mx-auto px-4 py-6 bg-white border border-gray-200 shadow-sm rounded-lg space-y-4">
    <div class="flex flex-wrap md:flex-nowrap items-end justify-between gap-4">
      <!-- Zone de recherche -->
      <div class="flex-1">
        <label for="search" class="block text-sm font-medium text-gray-700 mb-1 flex items-center gap-2">
          <lucide-angular [img]="Search" class="w-4 h-4 text-orange-600"></lucide-angular>
          <span>Research reservation</span>
        </label>
        <input
          id="searchReservation"
          type="text"
          [(ngModel)]="param"
          (keyup.enter)="loadReservation()"
          placeholder="Ex: nom"
          class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500"
        />
      </div>

      <!-- Menu de filtres -->
      <div class="flex flex-col md:flex-row md:items-center gap-2 md:gap-4">
        <div class="flex flex-col">
          <label for="search" class="block text-sm font-medium text-gray-700 mb-1 flex items-center gap-2">
            <lucide-angular [img]="Funnel" class="w-4 h-4 text-orange-600"></lucide-angular>
            <span>filter by</span>
          </label>
          <select
            id="filterReservation"
            [(ngModel)]="selectedFilter"
            (change)="applySelectedFilter()"
            class="px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500"
          >
            <option value="" disabled>Choose...</option>
            <option value="dateDesc">Date ↓ (most)</option>
            <option value="dateAsc">Date ↑ (oldest)</option>
            <option value="titleAsc">Title A → Z</option>
            <option value="titleDesc">Title Z → A</option>
          </select>
        </div>
      </div>

      <!-- Bouton de recherche -->
      <div>
        <button
          (click)="loadReservation()"
          class="inline-flex items-center px-5 py-2.5 bg-orange-600 text-white font-semibold rounded-md shadow hover:bg-orange-700 transition focus:outline-none focus:ring-2 focus:ring-orange-500 cursor-pointer"
        >
          <lucide-angular [img]="Search" class="w-4 h-4 pr-2"></lucide-angular>
          <span>Apply</span>
        </button>
      </div>
    </div>
  </div>


  <table class="min-w-full text-sm text-left text-gray-600">
    <thead class="bg-gray-50 border-b border-gray-200">
    <tr>
      <th class="px-6 py-4 font-semibold uppercase tracking-wide">Id</th>
      <th class="px-6 py-4 font-semibold uppercase tracking-wide">Lastname client</th>
      <th class="px-6 py-4 font-semibold uppercase tracking-wide">Firstname client</th>
      <th class="px-6 py-4 font-semibold uppercase tracking-wide">Event name</th>
      <th class="px-6 py-4 font-semibold uppercase tracking-wide">User username</th>
      <th class="px-6 py-4 font-semibold uppercase tracking-wide">Date</th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      @if (reservationPage?.content) {
        @for (reservation of reservationPage?.content; track reservation) {
          <tr class="hover:bg-gray-50 transition">
            <td class="px-6 py-4 max-w-xs truncate">{{ reservation.id }}</td>
            <td class="px-6 py-4">{{ reservation.lastname }}</td>
            <td class="px-6 py-4">{{ reservation.firstname }}</td>
            <td class="px-6 py-4">{{ reservation.event.title }}</td>
            <td class="px-6 py-4">{{ reservation.user.username }}</td>
            <td class="px-6 py-4">{{ reservation.reservationDate }}</td>
          </tr>
        }
      }
      @else {
        <tr>
          <td colspan="6" class="py-8 text-center text-lg text-gray-500 bg-gray-50 rounded-b-lg">
            No reservations found.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<!-- Pagination -->
<div class="flex justify-center items-center mt-8 gap-4">
  <button
    (click)="prevPage()"
    [disabled]="page === 0"
    class="px-4 py-2 rounded-lg border border-gray-300 bg-white hover:bg-gray-100 text-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed">
    ⬅️ Previous
  </button>
  <span class="text-gray-700 font-medium">Page <span class="text-blue-600 font-bold">{{ page + 1 }}</span></span>
  <button
    (click)="nextPage()"
    [disabled]="!reservationPage?.content || reservationPage?.last === true"
    class="px-4 py-2 rounded-lg border border-gray-300 bg-white hover:bg-gray-100 text-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed">
    Next ➡️
  </button>
</div>
